html {
    height: 230px;
}

body {
    font-family: 'Alegreya Sans','sans-serif';
    font-size: 13px;
    height: 230px;
    width: 700px;
}

#tableText {
    width: 200px;
}

.dataTable td{
    max-width: 240px;
    min-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#rightContainer{
    bottom: 272px;
    height: 180px;
    left: 180px;
    position: relative;
    width: 500px;
}

#radioContainer{
    border: thin solid lightGrey;
    border-radius: 3px;
    height: 240px;
    overflow-y: scroll;
    width: 160px;
}

#leftContainer{
    left: 5px;
    position: relative;
    top: 10px;
}

#tableName{
    width: 100px;
}

#container{
    height: 320px;
    overflow: hidden;
}
